 
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Trayectoria</h2>
                    <h3 class="section-subheading text-muted">Conózca un resumen de como hemos llegado hasta aquí.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/neftaliyagua.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septiembre 1997</h4>
                                    <h4 class="subheading">Centro de Informática y Estudios Sistematizados</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Condecoración "Premio Honor al Mérito" y "Premio Constancia y Trabajo".</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/coderic.png" style="background-color: #FFF;" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2002</h4>
                                    <h4 class="subheading">Coderic Development Team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con José Cárdenas y Carlos Almenhar fundamos el equipo de desarrollo "Coderic Development Team"</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/imprelectron.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septiembre 1998</h4>
                                    <h4 class="subheading">Imprelectrón</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con Eduardo Bravo y José Cárdenas ideamos una compañia de desarrollo de circuitos electrónicos.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/coderic.png" style="background-color: #FFF;" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2002</h4>
                                    <h4 class="subheading">Coderic Develpment Team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con José Cárdenas y Carlos Almenhar fundamos el equipo de desarrollo "Coderic Develpment Team"</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/coderic.png" style="background-color: #FFF;" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septiembre 2004</h4>
                                    <h4 class="subheading">Coderic, Inc.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con Ramón Lapenta y Daniel Acevedo ideamos lo que sería Coderic como compañía</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/valroques.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septiembre 2008</h4>
                                    <h4 class="subheading">Viajes Valencia los Roques</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con Jacobo Reyes desarrollamos sistemas turísticos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/unitaxi.png" style="background-color: #FFF;" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Noviembre 2009</h4>
                                    <h4 class="subheading">OpenTaxi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con Yolexis Navea emprendimos la alternativa libre de transporte público personal.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/coderic.png" style="background-color: #FFF;" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Febrero 2012</h4>
                                    <h4 class="subheading">Coderic, S.A.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con mis hermanos Omar y Jonathan Yagua registramos Coderic, S.A.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/ElCorazonDeSiria.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Diciembre 2013 - Enero 2015</h4>
                                    <h4 class="subheading">Restaurant el Corazón de Siria, C.A.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con Jonathan Yagua ejercimos la gerencia y administración del Restaurant El Corazón de siria, C.A.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://github.com/unitaxi.png" style="background-color: #FFF;" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Febrero 2018</h4>
                                    <h4 class="subheading">Unánimes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://prodaric.com" target="_blank">
                                    <img class="img-circle img-responsive" src="https://github.com/prodaric.png" style="background-color: #FFF;" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septiembre 2020 - Actualidad</h4>
                                    <h4 class="subheading">Prodaric Framework</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junto con Gabriel Suarez emprendimos el Framework de Productividad</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>¡Sea parte<br>de esta<br>Historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
