<!-- Portfolio Grid Section -->
    <section id="agenda" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Agenda</h2>
                    <h3 class="section-subheading text-muted">«Los que utilizan mal su tiempo son los primeros en quejarse de su brevedad». Jean de la Bruyère</h3>
                </div>
            </div>
            <div class="row">
                <div id="bookingjs"></div>
                <!--iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;hl=es_419&amp;bgcolor=%23FFFFFF&amp;src=neftali.yagua%40gmail.com&amp;color=%23691426&amp;src=ljaqkip6h8lh69f17pdou96ku0%40group.calendar.google.com&amp;color=%23125A12&amp;src=4f5qs508gev1j5kkgcsp0qvjs4%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FCaracas" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe-->
            </div>
            <p>«Cada acción sin importar las circunstancias suma experiencia».</p>
        </div>
    </section>
