    <section id="libros">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Libros</h2>
                    <h3 class="section-subheading text-muted">Novelas y Ensayos</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                      <a href="#">
                        <img src="/img/libros/ElGranoDeMostaza.jpg" class="img-responsive">
                      </a>
                    <h4 class="service-heading"><a href="#">El Grano de Mostaza</a></h4>
                    <h5 class="service-heading">¿Hasta dónde he de creer?</h5>
                    <p class="text-muted"><strong>Ensayo acerca de la fe</strong> «Cerrar los ojos de la incredulidad, abrir los ojos de la fe, dejar de mirar los problemas y creer en el Poder de Dios, vivir confiado en Él»</p>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <img src="/img/libros/LaEspadaDeLaJusticia.jpg" class="img-responsive">
                    </a>
                    <h4 class="service-heading"><a href="#">La Espada de la Justicia</a></h4>
                    <h5 class="service-heading">Forjada en Honor a la Verdad</h5>
                    <p class="text-muted"><strong>Ensayo acerca del Derecho Procesal</strong> «Un estado de Derecho debe proteger al individuo no sólo mediante el Derecho Penal, sino también del Derecho Penal. Claus Roxin».</p>
                </div>
            </div>
        </div>
    </section>
