<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Contáctame</h2>
				<h3 class="section-subheading text-muted">«La comunicación es el oxigeno de toda relación». Neftalí Yagua</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
							
				<p class="text-center"><a href="mailto:despacho@neftaliyagua.com.ve" class="btn btn-xl email" style="text-transform: lowercase;">despacho@neftaliyagua.com.ve</a></p>
				<p class="text-center"><a href="tel:+584121986479" class="btn btn-xl tel">+58 (0412) 830 5601</a></p>
				<!--p class="text-center"><a href="tel:+582127413401" class="btn btn-xl tel">+58 (0212) 741-3401</a></p-->
				
				<form name="sentMessage" id="contactForm" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Su nombre *" id="name" required
									data-validation-required-message="Por favor ingrese su nombre.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input type="email" class="form-control"
									placeholder="Su correo *" id="email" required
									data-validation-required-message="Por favor, proporcione un email para contactarle.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input type="tel" class="form-control"
									placeholder="Su teléfono *" id="phone" required
									data-validation-required-message="Por favor, proporcione un teléfono para contactarle.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" placeholder="Su mensaje *"
									id="message" required
									data-validation-required-message="Por favor, escriba su mensaje."></textarea>
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button type="submit" class="btn btn-xl">Enviar mensaje</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
