<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Contáctame</h2>
				<h3 class="section-subheading text-muted">«La comunicación es el oxigeno de toda relación». Neftalí Yagua</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div style="display: none;">
					<img
						src="https://www.gravatar.com/avatar/4c608bd1f0ec48666ef82084325895e0.jpg"
						alt="photo of Neftalí Yagua" class="photo" /> <a class="url fn n"
						href="https://www.neftaliyagua.com.ve"> <span
						class="given-name">Neftalí</span> <span class="additional-name">Noé</span>
						<span class="family-name">Yagua</span>
					</a>
				</div>
				<p class="text-center"><a href="tel:+584121986479" class="btn btn-xl tel">+58 (0412) 198 6479</a>, <a class="btn btn-xl tel" href="tel:+582412057838">+58 (0241) 205 7838</a></p>
				<!--form name="sentMessage" id="contactForm" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Su nombre *" id="name" required
									data-validation-required-message="Por favor ingrese su nombre.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input type="email" class="form-control"
									placeholder="Su correo *" id="email" required
									data-validation-required-message="Por favor, proporcione un email para contactarle.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input type="tel" class="form-control"
									placeholder="Su teléfono *" id="phone" required
									data-validation-required-message="Por favor, proporcione un teléfono para contactarle.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" placeholder="Su mensaje *"
									id="message" required
									data-validation-required-message="Por favor, escriba su mensaje."></textarea>
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button type="submit" class="btn btn-xl">Enviar mensaje</button>
						</div>
					</div>
				</form-->
			</div>
		</div>
	</div>
</section>
