<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
	

			</div>
			<div class="col-md-6">
				<ul class="list-inline social-buttons">
					{% for network in site.social %}
					<li><a href="{{ network.url }}" title="{{ network.title }}"{% if network.download %} download{% endif %}><i class="{{ network.fa-icon }}"></i></a></li>
					{% endfor %}
				</ul>
				<ul class="list-inline quicklinks">
					<li><a href="#">Políticas de privacidad</a></li>
					<li><a href="#">Términos de uso</a></li>
				</ul>
				<p class="copyright">Copyright &copy; <a
					href="https://neftaliyagua.com">{{ site.title }}</a> Since 1984
				</p>
			</div>
		</div>
	</div>
</footer>
