
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<!--p><span class="title">Pastor</span> en La Iglesia Misión Cristiana <span class="org">La Bendición del Señor</span> en:</p>
				<address class="adr">
					<span class="locality">Ciudad Alianza</span>, <span class="country">Guacara</span>, <span class="state">Carabobo</span>, <span class="postal-code">2003</span> <span class="country-name">Venezuela</span> - <span class="region">Latinoamerica</span>
				</address-->
			</div>
			<div class="col-md-6">
				<ul class="list-inline social-buttons">
					{% for network in site.social %}
					<li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
					{% endfor %}
				</ul>
				<ul class="list-inline quicklinks">
					<li><a href="#">Políticas de privacidad</a></li>
					<li><a href="#">Términos de uso</a></li>
				</ul>
				<p class="copyright">Copyright &copy; <a
					href="https://neftaliyagua.com.ve">{{ site.title }}</a> 2016
				</p>
			</div>
		</div>
	</div>
</footer>
