<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/NeftaliYagua" data-widget-id="366972913284423682">Tweets por el @NeftaliYagua.</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="col-lg-6">
				<div class="fb-page" data-href="https://www.facebook.com/NeftaliYagua" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Neftali.Noe.Yagua/"><a href="https://www.facebook.com/Neftali.Noe.Yagua/">Neftalí Yagua</a></blockquote></div></div>
</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				
				<p><span class="title">Presidente</span> en <span class="org">Coderic, S.A.</span></p>
				<address class="adr">
					<span class="locality">Miguel Peñ</span>, <span class="country">Valencia</span>, <span class="state">Carabobo</span>, <span class="postal-code">2003</span> <span class="country-name">Venezuela</span> - <span class="region">Latinoamerica</span>
				</address>
				<div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>

	<div>
		<div class="twPc-button">
		    <a href="https://twitter.com/NeftaliYagua" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-show-screen-name="false">Seguir a @NeftaliYagua</a>
		    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		  </div>

		<a title="Neftalí Yagua" href="https://twitter.com/neftaliyagua" class="twPc-avatarLink">
			<img alt="Neftalí Yagua" src="https://pbs.twimg.com/profile_images/755442318312869888/TitSiTNz_200x200.jpg" class="twPc-avatarImg">
		</a>

		<div class="twPc-divUser">
			<div class="twPc-divName">
				<a href="https://twitter.com/mertskaplan">Neftalí Yagua</a>
			</div>
			<span>
				<a href="https://twitter.com/mertskaplan">@<span>neftaliyagua</span></a>
			</span>
		</div>
 
		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/mertskaplan" title="457 Tweet">
						<span class="twPc-StatLabel twPc-block">Tweets</span>
						<span class="twPc-StatValue">457</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/mertskaplan/following" title="6.596 Siguiendo">
						<span class="twPc-StatLabel twPc-block">Siguiendo</span>
						<span class="twPc-StatValue">6.596</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/mertskaplan/followers" title="1.810 Seguidores">
						<span class="twPc-StatLabel twPc-block">Seguidores</span>
						<span class="twPc-StatValue">6.625</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
			</div>
			<div class="col-md-6">
				<ul class="list-inline social-buttons">
					{% for network in site.social %}
					<li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
					{% endfor %}
				</ul>
				<ul class="list-inline quicklinks">
					<li><a href="#">Políticas de privacidad</a></li>
					<li><a href="#">Términos de uso</a></li>
				</ul>
				<p class="copyright">Copyright &copy; <a
					href="https://neftaliyagua.com.ve">{{ site.title }}</a> 2016
				</p>
			</div>
		</div>
	</div>
</footer>
