<!--

  <PageMap>
     <DataObject type="document">
        <Attribute name="title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</Attribute>
        <Attribute name="author">Neftalí Yagua</Attribute>
        <Attribute name="description">{{ site.description }}</Attribute>
        <Attribute name="page_count">1</Attribute>
        <Attribute name="rating">4.5</Attribute>
        <Attribute name="last_update">07/02/2018</Attribute>
     </DataObject>
     <DataObject type="thumbnail">
        <Attribute name="src" value="https://neftaliyagua.com.ve/img/Neftali_Yagua.jpg" />
        <Attribute name="width" value="600" />
        <Attribute name="height" value="600" />
     </DataObject>
    <DataObject type="action">
      <Attribute name="label" value="Vitae"/>
      <Attribute name="url" value="https://neftaliyagua.com.ve/cv.pdf"/>
      <Attribute name="class" value="descargar"/>
    </DataObject>
  </PageMap>
-->
<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenidos a mi despacho!</div>
                <div class="intro-heading">{{site.title}}</div>
		<!--a class="btn btn-xl" href="https://pastor.neftaliyagua.com.ve/" title="Conózca más acerca de mi ministerio como Pastor Cristiano.">Pastor</a-->
		<a class="btn btn-xl" href="https://profesor.neftaliyagua.com.ve/" title="Conózca más acerca de mi trabajo como educador.">Docente</a>
		<!--a class="btn btn-xl" href="http://salmos.neftaliyagua.com.ve/" title="Salmos de Neftalí.">Salmos</a-->
		<!--a class="page-scroll btn btn-xl" href="javascript:alert('Próximamente...');void(0);" title="Conózca más acerca de mi amor al género humano.">Filántropo</a-->
		<a class="btn btn-xl" href="#libros" title="Conózca más acerca de mi pasión por la literatura.">Autor</a>
		<a class="btn btn-xl" href="/cv.pdf" target="_blank" title="Curriculum Vitae." download="17699096_NeftaliYagua_Vitae.pdf">Vitae</a>
                <a href="#profile" class="page-scroll btn btn-xl">Cuéntame más</a>
            </div>
        </div>
    </header>
	<!-- 
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
    -->
