
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7444619218060318",
    enable_page_level_ads: true
  });
</script>
<!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
  <script type="text/javascript" src="//cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
  <script type="text/javascript">
    window.timekitBookingConfig = {
      name: 'Neftalí Yagua',
      email: 'neftali.yagua@gmail.com',
      apiToken: '9iUqPnBe0wrsLSli7hhxZ3DWUFI282Gc',
      calendar: '21243c02-3bdd-40d9-b28e-f77de161dd8a',
      avatar: 'https://lh3.googleusercontent.com/-LnzSBO7iqDs/AAAAAAAAAAI/AAAAAAAAEus/OZ46XOJiGXU/photo.jpg',
        fullCalendar: {
          lang: 'es'
        },
        localization: {
          strings: {
            submitText: 'Solicitar cita',
            successMessageTitle: '¡Excelente!',
            successMessageBody: 'Por favor revise su email (%s) ahora',
            timezoneHelperLoading: 'cargando..',
            timezoneHelperDifferent: "Usted está a %s Horas %s de %s",
            timezoneHelperSame: "Usted está en el mismo territorio que %s",
          }
        },
        bookingFields: {
	    name: {
	      placeholder: 'Nombres y Apellidos',
	      prefilled: false,
	      locked: false
	    },
	    email: {
	      placeholder: 'Correo Electrónico',
	      prefilled: false,
	      locked: false
	    },
	    comment: {
	      enabled: true,
	      placeholder: 'Comentarios',
	      prefilled: false,
	      required: false,
	      locked: false
	    },
	    phone: {
	      enabled: true,
	      placeholder: 'Teléfonos',
	      prefilled: false,
	      required: false,
	      locked: false
	    },
	    location: {
	      enabled: true,
	      placeholder: 'Dirección',
	      prefilled: false,
	      required: true,
	      locked: false
	    }
        },
      timekitFindTime: {
        filters: {
          or: [
            {
              specific_time: {
                start: '00',
                end: '12'
              }
            },
            {
              specific_time: {
                start: '13',
                end: '24'
              }
            }
          ]
        }
      }
    }
  </script>
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
    
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2358088.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
