<!-- Services Section -->
    <section id="marks" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Marcas</h2>
                    <h3 class="section-subheading text-muted">Siempre ofrezco lo mejor, y con el más alto nivel de compromiso, busco la excelencia y detesto la mediocridad, es por ello que las personas confían en mi trabajo, los grandes desafíos los desarrollo paso a paso, resolviendo cada esquema y obstáculo uno a uno, hasta que el éxito me alcanza inevitablemente.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://pbs.twimg.com/profile_images/583321653767180288/xt27L_gp_400x400.jpg" class="img-responsive">
                    </span>
                    <h4 class="service-heading"><a href="http://coderic.co.ve/">Coderic&reg;</a></h4>
                    <p class="text-muted">Coderic es la marca y firma de Neftalí Yagua, la visión comercial de Neftalí está representada como Coderic.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="http://imprelectron.com.ve/">Imprelectron&reg;</a></h4>
                    <p class="text-muted">Es una marca de circuitos electrónicos, y circuitos impresos de la compañía <a href="http://imprelectron.com.ve/">Imprelectrón C.A.</a> propiedad de Coderic, S.A.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://pbs.twimg.com/profile_images/447237859590668290/IwJgluLg_400x400.png" class="img-responsive">
                    </span>
                    <h4 class="service-heading"><a href="http://unitaxi.com.ve/">Unitaxi&reg;</a></h4>
                    <p class="text-muted">Unitaxi es una marca de sistemas informáticos dedicados a servicios de transporte integral, creada para representar el sistema de administración vehicular desarrollado por <a href="http://coderic.co.ve/">Coderic, S.A.</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="http://drpc.com.ve/">Dr PC&reg;</a></h4>
                    <p class="text-muted">Dr PC es una marca para la comercialización de documentación de servicios de mantenimiento informático, especificamente dedicada al mantenimiento de software y al desarrollo de hardware.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SDV&reg;</h4>
                    <p class="text-muted">SDV es una marca para la distribución de software libre dedicados a servicios públicos para la nación Venezolana.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="http://sistravel.net/">SisTravel&reg;</a></h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
