 			    <nav id="menu-roles">
			    	<ul class="list-inline">
						<li><a href="#" title="Conózca más acerca de mi ministerio como Pastor Cristiano.">Pastor</a></li>
						<li><a href="#" title="Conózca más acerca de mi líderazgo.">Docente</a></li>
						<li><a href="#" title="Conózca más acerca de mis desarrollos.">Desarrollador</a></li>
						<li><a href="#" title="Conózca más acerca de mi pasión por la literatura.">Escritor</a></li>
						<li><a href="#" title="Conózca más acerca de mi manera de hacer negocios.">Empresario</a></li>
						<li><a href="#" title="Conózca más acerca de mi música.">Músico</a></li>
					</ul>
				</nav>
