 			    <nav id="menu-roles">
			    	<ul class="list-inline">
						<li><a href="http://pastor.neftaliyagua.com.ve/" title="Conózca más acerca de mi ministerio como Pastor Cristiano.">Pastor</a></li>
						<li><a href="http://profesor.neftaliyagua.com.ve/" title="Conózca más acerca de mi líderazgo.">Docente</a></li>
						<li><a href="javascript:alert('Próximamente...');void(0);" title="Conózca más acerca de mi pasión por la literatura.">Escritor</a></li>
						<!--li><a href="#" title="Conózca más acerca de mis desarrollos.">Desarrollador</a></li>
						<li><a href="#" title="Conózca más acerca de mi manera de hacer negocios.">Empresario</a></li>
						<li><a href="#" title="Conózca más acerca de mi música.">Músico</a></li-->
					</ul>
				</nav>
		﻿ 			    <nav id="menu-roles">
	
						<a class="page-scroll btn btn-x2" href="http://pastor.neftaliyagua.com.ve/" title="Conózca más acerca de mi ministerio como Pastor Cristiano.">Pastor</a></li>
						<a class="page-scroll btn btn-xl" href="http://profesor.neftaliyagua.com.ve/" title="Conózca más acerca de mi líderazgo.">Docente</a></li>
						<a class="page-scroll btn btn-xl" href="javascript:alert('Próximamente...');void(0);" title="Conózca más acerca de mi pasión por la literatura.">Escritor</a></li>
			
				</nav>	
