<!-- Portfolio Grid Section -->
    <section id="packages" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mantenimiento de Paquetes</h2>
                    <h3 class="section-subheading">Sírvete sin pena, todo lo que ves acá es Software Libre</h3>
                </div>
            </div>
            <div class="row">
                <h3 class="section-heading text-center">Para escritorio</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Windows (EXE, MSI)</h4>
                        <p class="text-muted">Windows Server, Windows 7, Windows 10</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Linux</h4>
                        <p class="text-muted">CentOS, RedHat, Fedora</p>
                        <p><code>curl -1sLf 'https://neftaliyagua.com/setup.rpm.sh' | sudo -E bash</code></p>
                        <ul style="list-style: none;">
                            <li>CodericOS</li>
                            <li>ProdaricOS</li>
                            <li>Valroques Kiosk</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Mac OS</h4>
                        <p class="text-muted">&nbsp;</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="text-center">
                    <h3 class="section-heading">Para Servidores</h3>
                    <p>Para poder instalar mis paquetes antes debes tener acceso a mis repositorios públicos.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>RHEL Compatible (RPM)</h4>
                        <p class="text-muted">CentOS, RedHat, Fedora</p>
                        <p><code>curl -1sLf 'https://neftaliyagua.com/setup.rpm.sh' | sudo -E bash</code></p>
                        <ul style="list-style: none;">
                            <li>dnf install <a href="https://dl.cloudsmith.io/public/neftaliyagua-public/packages/rpm/el/8/x86_64/hello-world-1-1.x86_64.rpm">hello-world</a></li>
                            <li>dnf install <a href="https://packages.neftaliyagua.com/">antmedia-server</a></li>
                            <li>dnf install <a href="https://packages.neftaliyagua.com/">traccar-server</a></li>
                            <li>dnf install <a href="https://packages.neftaliyagua.com/">genieacs-server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Debian, Ububtu (Deb)</h4>
                        <p class="text-muted">squeeze, wheezy, jessie, stretch, buster</p>
                        <p><code>curl -1sLf 'https://neftaliyagua.com/setup.deb.sh' | sudo -E bash</code></p>
                        <ul style="list-style: none;">
                            <li>apt install <a href="https://packages.neftaliyagua.com/">antmedia-server</a></li>
                            <li>apt install <a href="https://packages.neftaliyagua.com/">traccar-server</a></li>
                            <li>apt install <a href="https://packages.neftaliyagua.com/">genieacs-server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                        
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Para Contenedores</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Docker</h4>
                        <p class="text-muted">&nbsp;</p>
                        <ul style="list-style: none;">
                            <li>docker pull <a href="https://hub.docker.com/repository/docker/neftaliyagua/antmedia-server">antmedia-server</a></li>
                            <li>docker pull <a href="https://hub.docker.com/repository/docker/neftaliyagua/genieacs-server">genieacs-server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Vagrant</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Helm</h4>
                        <p class="text-muted">Próximamente...</p>
                        <code>
                            helm repo add neftaliyagua-public-packages 'https://dl.cloudsmith.io/public/neftaliyagua-public/packages/helm/charts/' && helm repo update
                        </code>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Para dispositivos móviles</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Android (APK)</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>iOS</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Dart y Flutter</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                    <code>export PUB_HOSTED_URL=https://dl.cloudsmith.io/public/neftaliyagua-public/packages/dart/</code>
                </div>
            </div>
            <div class="row">
                <h3 class="section-heading text-center">Binarios</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Java</h4>
                        <p class="text-muted">Maven, Gradle, Kotlin, Scala</p>
                        <ul style="list-style: none;">
                            <li><a href="https://dl.cloudsmith.io/public/neftaliyagua-public/packages/maven/com/neftaliyagua/HelloWorld/hello-world/1.0-SNAPSHOT/hello-world-1.0-20210524.083432-1.jar">hello-world.jar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>PyPI (python)</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Fuentes</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Composer (PHP)</h4>
                        <p class="text-muted">Laravel, Laminas, Symfony, CodeIgniter, Yii</p>
                        <ul style="list-style: none;">
                            <li>composer require <a href="https://packagist.org/packages/laravel-latam/spanish">laravel-latam/spanish</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>npm (Javascript y Typescript)</h4>
                        <p class="text-muted">Node.js, Angular, React, Vue</p>
                        <ul style="list-style: none;">
                            <li>npm i <a href="https://www.npmjs.com/package/tinymce-ionic-iconpack">tinymce-ionic-iconpack</a> --save</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">3rd Party</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Distro Based</h4>
                        <p class="text-muted">Debian, CentOS, alpine, scratch, wrt</p>
                        <ul style="list-style: none;">
                            <li><a href="https://prodaric.github.io/"><strong>Prodaric:</strong> The Productivity Framework</a></li>
                            <li><strong>SISTravel:</strong> Administración Turística</li>
                            <li><strong>Ubuntu Kiosk</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Módulos</h4>
                        <p class="text-muted">Apache2, PHP</p>
                        <ul style="list-style: none;">
                            <li>a2enmod <a href="https://github.com/NeftaliYagua/mod_hello_world/releases/download/v1.0/mod_hello_world.so">hello_world</a> (<a href="https://github.com/NeftaliYagua/mod_hello_world">src</a>)</li>
                            <li>a2enmod nodejs (<a href="https://github.com/NeftaliYagua/mod_nodejs">src</a>) Próximamente</li>
                            <li>a2enmod jekyll  (<a href="https://github.com/NeftaliYagua/mod_jekyll">src</a>) Próximamente</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Plugins</h4>
                        <p class="text-muted">Wordpress, Magento, Prestashop, WHMCS, cPanel</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
