<!-- Portfolio Grid Section -->
    <section id="packages" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mantenimiento de Paquetes</h2>
                    <h3 class="section-subheading">Sírvete sin pena, todo lo que ves acá es Software Libre</h3>
                </div>
            </div>
            <div class="row">
                <h3 class="section-heading text-center">Para escritorio</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Windows (EXE, MSI)</h4>
                        <p class="text-muted">Windows Server, Windows 7, Windows 10</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Linux</h4>
                        <p class="text-muted">gnome, kde, snap, electron, pwa</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Para Servidores</h3>
                <p>Para poder instalar mis paquetes antes debes tener acceso a mis repositorios públicos.</p>
                <code>curl -1sLf 'https://dl.cloudsmith.io/public/neftaliyagua-public/packages/setup.rpm.sh' | sudo -E bash</code>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>RHEL Compatible (RPM)</h4>
                        <p class="text-muted">CentOS, RedHat, Fedora</p>
                        <ul style="list-style: none;">
                            <li><a href="https://packages.neftaliyagua.com/">dnf install antmedia-server</a></li>
                            <li><a href="https://packages.neftaliyagua.com/">dnf install traccar-server</a></li>
                            <li><a href="https://packages.neftaliyagua.com/">dnf install genieacs-server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Debian, Ububtu (Deb)</h4>
                        <p class="text-muted">squeeze, wheezy, jessie, stretch, buster</p>
                        <ul style="list-style: none;">
                            <li><a href="https://packages.neftaliyagua.com/">apt install antmedia-server</a></li>
                            <li><a href="https://packages.neftaliyagua.com/">apt install traccar-server</a></li>
                            <li><a href="https://packages.neftaliyagua.com/">apt install genieacs-server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                        
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Para Contenedores</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Docker</h4>
                        <p class="text-muted">&nbsp;</p>
                        <ul style="list-style: none;">
                            <li><a href="https://hub.docker.com/repository/docker/neftaliyagua/antmedia-server">docker pull antmedia-server</a></li>
                            <li><a href="https://hub.docker.com/repository/docker/neftaliyagua/genieacs-server">docker pull genieacs-server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Vagrant</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Helm</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Para dispositivos móviles</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Android (APK)</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>iOS</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Dart and Flutter</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="section-heading text-center">Binarios</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Java</h4>
                        <p class="text-muted">Maven, Gradle, Kotlin, Scala</p>
                        <ul style="list-style: none;">
                            <li>Próximamente...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>PyPI (python)</h4>
                        <p class="text-muted">Próximamente...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">Fuentes</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Composer (PHP)</h4>
                        <p class="text-muted">Laravel, Laminas, Symfony, CodeIgniter, Yii</p>
                        <ul style="list-style: none;">
                            <li><a href="https://packagist.org/packages/laravel-latam/spanish">composer require laravel-latam/spanish</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>npm (Javascript y Typescript)</h4>
                        <p class="text-muted">Node.js, Angular, React, Vue</p>
                        <ul style="list-style: none;">
                            <li><a href="https://www.npmjs.com/package/tinymce-ionic-iconpack">npm i tinymce-ionic-iconpack --save</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>&nbsp;</h4>
                        <p class="text-muted">&nbsp;</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="section-heading text-center">3rd Party</h3>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Distros Based</h4>
                        <p class="text-muted">Debian, CentOS, alpine, scratch, wrt</p>
                        <ul style="list-style: none;">
                            <li><a href="https://prodaric.github.io/"><strong>Prodaric:</strong> The Productivity Framework</a></li>
                            <li><strong>SISTravel:</strong> Administración Turística</li>
                            <li><strong>Ubuntu Kiosk</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Módulos</h4>
                        <p class="text-muted">Apache2, PHP</p>
                        <ul style="list-style: none;">
                            <li>mod_node</li>
                            <li>mod_jekyll</li>
                            <li>mod_rtmp</li>
                            <li>mod_webrtc</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-caption">
                        <h4>Plugins</h4>
                        <p class="text-muted">Wordpress, Magento, Prestashop, WHMCS, cPanel</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
