<!-- party Section -->
<section id="party" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partidos que fundaremos</h2>
                <h3 class="section-subheading text-muted">A medida que el desafío crece, la necesidad de un trabajo en
                    equipo aumenta.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="party-member contact met co-worker">
                    <a href="#">
                        <img src="/img/partidos/Unanimes.jpg" title="Unánimes" alt="Unánimes"
                            class="img-responsive img-circle">
                    </a>
                    <h4 rel="friend" class="text-center"><a href="#">
                            Unánimes Venezuela
                        </a></h4>
                    <p class="text-muted text-center">A una sola voz</p>
                    <!--ul class="list-inline social-buttons text-center">
            <li><a href="#"><i class="fab fa-hhh"></i></a>
        </ul-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="party-member contact met co-worker">
                    <a href="#">
                        <img src="/img/partidos/ElPartidoDeLaRed.jpg" title="Partido De La Red"
                            alt="Partido De La Red" class="img-responsive img-circle">
                    </a>
                    <h4 rel="friend" class="text-center"><a href="#">
                            Partido De La Red
                        </a></h4>
                    <p class="text-muted text-center">Democracia Líquida</p>
                    <!--ul class="list-inline social-buttons text-center">
            <li><a href="#"><i class="fab fa-hhh"></i></a>
        </ul-->
                </div>
            </div>

            <div class="col-sm-4">
                <div class="party-member contact met co-worker">
                    <a href="#">
                        <img src="img/partidos/PartidoPirata.jpg" title="Democracia Directa" alt="Democracia Directa"
                            class="img-responsive img-circle">
                    </a>
                    <h4 rel="friend" class="text-center"><a href="#">
                            Partido Pirata de Venezuela
                        </a></h4>
                    <p class="text-muted text-center">¡Ahoy, Venezuela!</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="party-member contact met co-worker">
                    <a href="#">
                        <img src="/img/partidos/DemocraciaEnRed.jpg" title="Democracia en Red" alt="Democracia en Red"
                            class="img-responsive img-circle">
                    </a>
                    <h4 rel="friend" class="text-center"><a href="#">
                            Democracia en Red
                        </a></h4>
                    <p class="text-muted text-center">Democracia Directa</p>
                    <!--ul class="list-inline social-buttons text-center">
            <li><a href="#"><i class="fab fa-hhh"></i></a>
        </ul-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="party-member contact met co-worker">
                    <a href="#">
                        <img src="/img/partidos/DemocraciaDigital.jpg" title="Democracia Directa"
                            alt="Democracia Directa" class="img-responsive img-circle">
                    </a>
                    <h4 rel="friend" class="text-center"><a href="#">
                            Democracia Digital
                        </a></h4>
                    <p class="text-muted text-center">La Nueva Democracia</p>
                    <!--ul class="list-inline social-buttons text-center">
            <li><a href="#"><i class="fab fa-hhh"></i></a>
        </ul-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">
                    Al pasar de los años uno de los elementos más representativos que pude aprender es acerca de la
                    necesidad de un equipo, ningún hombre es una isla dijo el gran John Donne, entender esto es
                    fundamental para crecer en cualquier ámbito, es necesario comprender que de forma natural tenemos la
                    necesidad de potenciar nuestras capacidades de forma sinérgica con las personas que nos rodean.</p>
            </div>
        </div>
    </div>
</section>
