    <section id="libros">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Plan de Trabajo</h2>
                    <h3 class="section-subheading text-muted">A continuación presento el Plan de Trabajo</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                      <a href="#">
                        <img src="/img/plan/flayer1.jpg" class="img-responsive">
                      </a>
                    <h4 class="service-heading"><a href="#">Nación Unida</a></h4>
                    <h5 class="service-heading">Proyecto de Gobierno</h5>
                    <p class="text-muted"><strong>&npsp;</strong> «&npsp;»</p>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <img src="/img/plan/flayer2.jpg" class="img-responsive">
                    </a>
                    <h4 class="service-heading"><a href="#">La Espada de la Justicia</a></h4>
                    <h5 class="service-heading">Forjada en Honor a la Verdad</h5>
                    <p class="text-muted"><strong>&npsp;</strong> «&npsp;».</p>
                </div>
            </div>
        </div>
    </section>
