<!-- Services Section -->
    <section id="profile" class="bg-light-gray">
        <div class="container">
		<div class="row">
      <div class="col-md-5 text-center">
          <img class="img-responsive" src="https://secure.gravatar.com/avatar/c22e2764d34130f52462c9834996ad5a?s=600" alt="Neftalí Yagua">
      </div>
      <div class="col-md-7">
        <h3 class="name">Neftalí Yagua</h3>
        <h4 class="jobTitle">Ingeniero de Software</h4>
        <hr>
	<p>Mi nombre es Neftalí Yagua, soy Presidente, Director General y Fundador de Coderic, S.A. Soy hijo de Omar Yagua y Yury Linares
Nací el 7 de diciembre de 1984 en el Hospital Central "Plácido Daniel Rodriguez Rivero" en la ciudad de San Felipe Estado Yaracuy</p>
	<p>Desde niño me ha apasionado la literatura, he escrito poesía, canciones, ensayos, documentación y he hecho algunas traducciones de Inglés, Francés y Árabe a Español.<p>
	<p>Me gusta compartir mis experiencias, mi visión del mundo, y la fascinante belleza literaria que nos rodea, intento expresar algo de ello en mis obras.</p>
	      <p><strong><acronym title="Registro Nacional de Oficios del Libro">RNOL</acronym>:</strong> RNOL-0659</p>
        <!--img src="img/signature.png" data-at2x="img/signature@2x.png" alt="signature" class="signature"--> 
        
        <!--social-->
        <!--div class="social">
          <ul>
            <li><a itemprop="sameAs" href="https://twitter.com/NeftaliYagua" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a itemprop="sameAs" href="https://www.facebook.com/Neftali.Noe.Yagua/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a itemprop="sameAs" href="https://plus.google.com/+Neftal%C3%ADYagua" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a itemprop="sameAs" href="https://ve.linkedin.com/in/neftaliyagua" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div-->
        <!--social end--> 
        
      </div>
    </div>
        </div>
    </section>
