<!-- Services Section -->
    <section id="profile" class="bg-light-gray">
        <div class="container">
		<div class="row">
      <div class="col-md-5 text-center">
          <img class="img-responsive" src="https://secure.gravatar.com/avatar/c22e2764d34130f52462c9834996ad5a?s=600" alt="Neftalí Yagua">
      </div>
      <div class="col-md-7">
        <h3 class="name">Neftalí Yagua</h3>
        <h4 class="jobTitle">Ingeniero de Software</h4>
        <hr>
	<p>Mi nombre es Neftalí Yagua, soy Presidente, Director General y Fundador de Coderic, S.A. Soy hijo de Omar Yagua y Yury Linares
Nací el 7 de diciembre de 1984 en el Hospital Central "Plácido Daniel Rodriguez Rivero" en la ciudad de San Felipe Estado Yaracuy</p>
	<p>Soy un hombre de buen temple, de conducta irreprensible y de integridad comprobable; reconocido en más de una comunidad.<p>
	<p>Comprometido con la democracia participativa.</p>
	      <p><strong><abbr title="Registro Nacional de Oficios del Libro">RNOL</abbr>:</strong> RNOL-0659</p>
        <!--img src="img/signature.png" data-at2x="img/signature@2x.png" alt="signature" class="signature"--> 
        
        <!--social-->
        <ul class="list-inline social-buttons text-center">				
					<li><a href="https://twitter.com/neftaliyagua" target="_blank"><i class="fa fa-twitter"></i></a></li>					
					<li><a href="https://facebook.com/NeftaliYagua" target="_blank"><i class="fa fa-facebook"></i></a></li>					
					<li><a href="https://plus.google.com/+NeftalíYagua" target="_blank"><i class="fa fa-google-plus"></i></a></li>					
					<li><a href="https://ve.linkedin.com/in/neftaliyagua" target="_blank"><i class="fa fa-linkedin"></i></a></li>					
					<li><a href="https://instagram.com/neftaliyagua" target="_blank"><i class="fa fa-instagram"></i></a></li>					
					<li><a href="https://bitbucket.org/neftaliyagua" target="_blank"><i class="fa fa-bitbucket"></i></a></li>				
					<li><a href="https://github.com/neftaliyagua" target="_blank"><i class="fa fa-github"></i></a></li>
					<li><a href="https://stackoverflow.com/users/2167544/neftali-yagua" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
				</ul>
        <!--social end--> 
        
      </div>
    </div>
        </div>
    </section>
