<!-- Services Section -->
    <section id="profile" class="bg-light-gray">
        <div class="container">
		<div class="row">
      <div class="col-md-5 text-center">
          <img class="img-responsive" src="https://secure.gravatar.com/avatar/c22e2764d34130f52462c9834996ad5a?s=600" alt="Neftalí Yagua">
      </div>
      <div class="col-md-7">
        <h3 class="name">Neftalí Yagua</h3>
        <h4 class="jobTitle">Ingeniero de Software</h4>
        <hr>
	<p>Mi nombre es Neftalí Yagua, soy Presidente, Director General y Fundador de Coderic, S.A. Soy hijo de Omar Yagua y Yury Linares
Nací el 7 de diciembre de 1984 en el Hospital Central "Plácido Daniel Rodriguez Rivero" en la ciudad de San Felipe Estado Yaracuy</p>
	<p>Soy un hombre de buen temple, de conducta irreprensible y de integridad comprobable; reconocido en más de una comunidad.<p>
	<p>Comprometido con la democracia participativa.</p>
	      <p><strong><abbr title="Registro Nacional de Oficios del Libro">RNOL</abbr>:</strong> RNOL-0659</p>
        <!--img src="img/signature.png" data-at2x="img/signature@2x.png" alt="signature" class="signature"--> 

<a mp-mode="dftl" href="https://www.mercadopago.com/mlv/checkout/start?pref_id=51738106-c883ba3e-24aa-4351-8295-4ada8fa918aa" name="MP-payButton" class='orange-ar-l-rn-veall'>Apoyar mi campaña con 10mil</a>
<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>

        <!--social-->

				<ul class="list-inline social-buttons text-center">
					{% for network in site.social %}
					<li><a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a></li>
					{% endfor %}
				</ul>
        <!--social end--> 
        
      </div>
    </div>
        </div>
    </section>
